body {
    background: linear-gradient(to right bottom, #f7f5fb 50%, #fff 50%);
}

.jumbotron {
    color: #fff;
    background-color: #fff;
    background-image: url(/images/bg-top.jpg);
    background-repeat: repeat-x;
    background-position: left top;
}