body {
  font-family: 'Montserrat', sans-serif !important; }

.navbar-journal .container {
  position: relative; }

.navbar-journal .icon-authorization {
  position: absolute;
  right: 0;
  top: 0.25rem;
  padding-top: 5px;
  padding-right: 1rem; }
  .navbar-journal .icon-authorization .dropdown-toggle::after {
    display: none; }

.navbar-journal .dropdown-header {
  color: #36529D;
  font-weight: bold;
  font-size: inherit; }

.navbar-journal .border-color-journal {
  border-color: #36529D; }

.navbar-journal .btn-outline-journal {
  color: #ffc107;
  border-color: #36529D; }
  .navbar-journal .btn-outline-journal:hover {
    color: #212529;
    background-color: #ffc107; }

.content {
  background: url(../images/bg-content.jpg) no-repeat center;
  background-size: cover; }
  .content .breadcrumb {
    border-radius: 0; }
  .content hr.title-line {
    width: 100px;
    border-top: 3px solid #36529D; }

.home-content-left .card {
  position: relative;
  overflow: hidden;
  height: 400px;
  border: none;
  padding: 1rem 2rem; }
  .home-content-left .card:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5) !important;
    transition: 0.3s; }
  .home-content-left .card .card-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    object-fit: cover; }
  .home-content-left .card .card-img-overlay {
    background: rgba(10, 34, 65, 0.1);
    color: #6c757d; }
  .home-content-left .card .preview .card-title {
    text-transform: uppercase;
    color: #36529D; }
  .home-content-left .card .preview .card-text {
    font-size: 90%; }
  .home-content-left .card .preview hr {
    width: 50px;
    border-top: 3px solid #ffc107; }
  .home-content-left .card .preview-bottom {
    position: absolute;
    bottom: 20px; }

.home-content-right {
  color: #fff;
  background: #f7ae2d;
  background: linear-gradient(90deg, #f7ae2d 0%, #36529d 46%); }
  .home-content-right .card-img-overlay {
    background-color: rgba(16, 49, 66, 0.6);
    padding: 0; }
  .home-content-right .card-overlay-content {
    background-color: rgba(16, 49, 66, 0.9);
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -25%; }

.jumbotron {
  color: #fff;
  background: #f7ae2d;
  background: linear-gradient(90deg, #f7ae2d 0%, #36529d 46%); }
  .jumbotron h2 {
    margin-bottom: 0; }
    @media (max-width: 991px) {
      .jumbotron h2 {
        font-size: 1.5rem; } }
.footer .bg-bark-blue {
  background-color: #0A2241; }

.footer .nav-footer .nav-link {
  padding: 0.25rem 1rem;
  color: #f8f9fa; }
  .footer .nav-footer .nav-link:hover {
    color: #6c757d;
    transition: 0.3s; }

.text-color-journal {
  color: #36529D; }

.modal-footer {
  justify-content: flex-start; }

.text-bold {
  font-weight: bold; }

.text-sm {
  font-size: 75%; }

.btn-primary {
  color: #fff;
  background-color: #36529D;
  border-color: #36529D; }
  .btn-primary:hover {
    color: #fff;
    background-color: #113244;
    border-color: #113244; }

.btn-outline-primary {
  color: #36529D;
  border-color: #36529D; }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #36529D;
    border-color: #36529D; }

/*# sourceMappingURL=styles.css.map */