{% load static %}
<div class="footer">
    <div class="bg-bark-blue py-5">
        <div class="container">
            <div class="nav-footer">
                <div class="row">
                    <div class="col-sm-5">
                        <a href="{% url 'home' %}" class="nav-link mb-4"><img src="{% static 'images/logo-bottom-svarka-alfa.png' %}" alt="Logo" class="img-fluid"></a>
                        <hr class="border-secondary">
                        <nav class="nav flex-column">
                            <a href="tel:+74997847700" class="nav-link text-warning"><i class="fas fa-phone-square-alt"></i> +7 (499) 784-77-00</a>
                            <a href="mailto:svarka@naks.ru" class="nav-link text-warning"><i class="fas fa-envelope"></i> svarka@naks.ru </a>
                        </nav>
                        <hr class="border-secondary d-block d-sm-none">
                    </div>
                    <div class="col-sm">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="{% url 'home' %}">Главная</a>
                            <a class="nav-link" href="{% url 'post_list' %}">Новости</a>
                            <a class="nav-link" href="{% url 'journal_info' %}">О&nbsp;журнале</a>
                            <a class="nav-link" href="{% url 'journal_founders' %}">Учредители</a>
                            <a class="nav-link" href="{% url 'journal_collegium' %}">Редакционная коллегия</a>
                            <a class="nav-link" href="{% url 'journal_recentering' %}">Порядок рецензирования</a>
                        </nav>
                    </div>
                    <div class="col-sm">
                        <nav class="nav flex-column">
                            <a class="nav-link" href="{% url 'authors' %}">Авторам</a>
                            <a class="nav-link" href="{% url 'archive' %}">Архив номеров</a>
                            <a class="nav-link" href="{% url 'subscription' %}">Подписка</a>
                            <a class="nav-link" href="{% url 'advertising' %}">Реклама</a>
                            <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-2 text-center text-sm-left">
                    <div class="mb-3 mb-sm-0">
                        <a href="#" target="_blank"><img src="{% static 'images/logo-naks-media-gray.png' %}" class="img-fluid" alt="logo NAKS Media"></a>
                    </div>
                </div>
                <div class="col-sm-2 text-center text-sm-left">
                    <div class="mb-3 mb-sm-0">
                        <a href="http://www.naks.ru/" target="_blank"><img src="{% static 'images/logo-naks-gray.png' %}" alt="logo NAKS" class="img-fluid"></a>
                    </div>
                </div>
                <div class="col-sm-4 text-center text-sm-right">
                    <div class="mb-3 mb-sm-0">
                        <a href="#" class="text-muted" target="_blank"><i class="far fa-file-pdf"></i> Политика обработки&nbsp;ПДн</a>
                    </div>
                </div>
                <div class="col-sm-4 text-center text-sm-right">
                    <h6 class="text-muted mb-0">ООО "НАКС Медиа"<br><small> © все права защищены, 2020</small></h6>
                </div>
            </div>
        </div>
    </div>
</div>