{% load static %}
<div class="home-content-right py-4 px-3">
    <div class="row">
        <div class="col-md-4 col-lg-auto">
            <div class="card text-white text-center border-warning mb-3 mb-sm-0 mb-lg-3 shadow">
                <img src="{% static 'images/img_journal.jpg' %}" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <div class="card-overlay-content py-4">
                        <h5 class="card-title text-uppercase">Новый номер</h5>
                        <a href="#" class="btn btn-warning text-uppercase" data-toggle="modal" data-target="#zakazModal">Купить</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-auto">
            <div class="card text-white text-center bg-warning mb-3 mb-sm-0 mb-lg-3 shadow">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Электронный архив</h5>
                    <p class="card-text text-uppercase text-dark">Электронные версии журналов "Сварка и диагностика"</p>
                </div>
                <div class="card-footer border-warning px-0">
                    <a href="{% url 'archive' %}" class="text-white font-weight-bold">Перейти в архив <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-auto">
            <div class="card text-white text-center border-warning shadow">
                <img src="{% static 'images/banner_welder.jpg' %}" class="card-img w-100" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-uppercase mt-5">Bewelder.ru</h5>
                    <p class="card-text text-uppercase text-warning my-4">Поиск работы в области сварки</p>
                    <a href="http://svarka.naks.ru/" target="_blank" class="btn btn-warning text-uppercase mb-3">Найти работу</a>
                    <a href="http://bewelder.ru/vacancy_detail?action=add&amp;id=0" target="_blank" class="btn btn-link text-white d-block px-0">Разместить вакансию</a>
                </div>
            </div>
        </div>
    </div>
</div>