{% load static %}
<div class="modal fade" id="authorizationModal" tabindex="-1" aria-labelledby="authorizationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authorizationModalTitle">Авторизация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- autorization -->
            <form id="formAuthorization">
                <div class="modal-body">
                    <div class="px-lg-5">
                        <div class="form-group">
                            <label for="login-name" class="col-form-label">Логин</label>
                            <input type="text" class="form-control" id="login-name">
                        </div>
                        <div class="form-group">
                            <label for="pass-name" class="col-form-label">Пароль</label>
                            <input type="text" class="form-control" id="pass-name">
                        </div>
                        <a href="#" id="linkForgotPassword">Забыли пароль?</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="px-sm-5">
                        <!-- <button type="submit" class="btn btn-warning"><i class="fas fa-sign-in-alt"></i> Войти</button> -->
                        <button type="button" class="btn btn-warning" id="btnConfirmLogin"><i class="fas fa-sign-in-alt"></i> Войти</button>
                        <a href="#" class="btn btn-outline-warning text-dark" id="btnRegistration">Регистрация</a>
                    </div>
                </div>
            </form>
            <div id="confirmLogin" style="display: none;">
                <div class="modal-body">
                    <div class="px-lg-5">
                        <p class="h5"><i class="fas fa-check text-warning"></i> Вы вошли как <strong>dev1@naks.ru</strong></p>
                        <!-- <a href="#">Перейти в личный кабинет <i class="fas fa-arrow-right"></i></a> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="px-sm-5">
                        <a href="#" class="btn btn-warning">Перейти в личный кабинет <i class="fas fa-arrow-right"></i></a>
                        <!-- <a href="#" class="btn btn-outline-warning text-dark" data-dismiss="modal">Закрыть</a> -->
                    </div>
                </div>
            </div>
            <!--  end autorization -->
            <!-- registration -->
            <form id="formRegistration" style="display: none;">
                <div class="modal-body">
                    <div class="px-lg-5">
                        <div class="form-group">
                            <label for="name" class="col-form-label">Имя</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="surname" class="col-form-label">Фамилия</label>
                            <input type="text" class="form-control" id="surname">
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">E-mail <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="email" required="">
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label">Пароль <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="password" required="">
                        </div>
                        <div class="form-group">
                            <label for="passwordConfirm" class="col-form-label">Подтверждение пароля <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="passwordConfirm" required="">
                        </div>
                        <p class="text-muted text-sm"><span class="text-danger">*</span> обязательные поля</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="px-sm-5">
                        <!-- <button type="submit" class="btn btn-warning">Зарегистрироваться</button> -->
                        <button type="button" class="btn btn-warning" id="btnConfirmRegistration">Зарегистрироваться</button>
                        <a href="#" class="btn btn-outline-warning text-dark" id="btnCancelRegistration">Отмена</a>
                    </div>
                </div>
            </form>
            <div id="confirmRegistration" style="display: none;">
                <div class="modal-body">
                    <div class="px-lg-5">
                        <p class="h5"><i class="fas fa-check text-warning"></i> Спасибо за регистрацию!</p>
                        <p>Для завершения регистрации необходимо подтвердить Ваш Email. Ссылка для подтверждения отправлена на указанный Вами электронный адрес</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="px-sm-5">
                        <a href="#" class="btn btn-outline-warning text-dark" data-dismiss="modal">Закрыть</a>
                    </div>
                </div>
            </div>
            <!-- end registration -->
            <!-- forgot password -->
            <form id="formForgotPassword" style="display: none;">
                <div class="modal-body">
                    <div class="px-lg-5">
                        <p>На указанный Вами E-mail будет отправлена ссылка для восстановления пароля</p>
                        <div class="form-group">
                            <label for="email" class="col-form-label">E-mail</label>
                            <input type="text" class="form-control" id="email" required="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="px-sm-5">
                        <!-- <button type="submit" class="btn btn-warning">Отправить</button> -->
                        <button type="button" class="btn btn-warning" id="btnConfirmSending">Отправить</button>
                        <a href="#" class="btn btn-outline-warning text-dark" id="btnAutorization">Авторизация</a>
                    </div>
                </div>
            </form>
            <div id="confirmSending" style="display: none;">
                <div class="modal-body">
                    <div class="px-lg-5">
                        <p><i class="fas fa-check text-warning"></i> Ссылка отправлена, проверьте почту</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="px-sm-5">
                        <a href="#" class="btn btn-outline-warning text-dark" data-dismiss="modal">Закрыть</a>
                    </div>
                </div>
            </div>
            <!-- end forgot password -->
        </div>
    </div>
</div>