{% load static %}
<div class="modal fade" id="zakazModal" tabindex="-1" aria-labelledby="zakazModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="zakazModalTitle">Сварка и диагностика №4-2020</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formZakaz">
                <div class="modal-body">
                    <div class="px-lg-5">
                        <h5 class="text-secondary mb-3"><i class="fas fa-check text-warning"></i> Ваш заказ в корзине</h5>
                        <div class="row align-items-center">
                            <div class="col-sm-4">
                                <img src="{% static 'images/img_journal.jpg' %}" alt="" class="img-fluid mb-4 mb-sm-0">
                            </div>
                            <div class="col-6 col-sm">
                                <div class="input-group input-group-sm mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon1" disabled><i class="fas fa-minus"></i></button>
                                    </div>
                                    <input type="text" class="form-control text-center" value="1">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-sm">
                                <p class="text-bold">1250 руб.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="px-sm-5">
                        <!-- <button type="submit" class="btn btn-warning"><i class="fas fa-sign-in-alt"></i> Войти</button> -->
                        <button type="button" class="btn btn-warning btn-sm" id="btnConfirmLogin">Оформить <i class="fas fa-arrow-right"></i></button>
                        <a href="#" class="btn btn-outline-warning btn-sm text-dark" data-dismiss="modal">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>