{% load static %}
<div class="modal fade" id="mapNaksMediaModal" tabindex="-1" aria-labelledby="mapNaksMediaModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapNaksMediaModalTitle">Адрес на карте</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="px-lg-5">
                    <h4 class="mb-3">ООО «НАКС Медиа» <small class="text-muted">NAKS Media, LLC</small></h4>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7b9bf5494487d54f25526c3388584c2f82a087d3205cb2e91034991778af3b8b&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
                </div>
            </div>
            <div class="modal-footer">
                <div class="px-sm-5">
                    <a href="#" class="btn btn-outline-warning text-dark" data-dismiss="modal">Закрыть</a>
                </div>
            </div>
        </div>
    </div>