{% extends 'journal/base.html' %}
{% load static %}
{% block content %}
<div class="content py-5">
    <div class="container">
        <nav class="mb-5" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent border-bottom ">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Архив номеров</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <h2 class="text-color-journal">Архив номеров</h2>
                <hr class="title-line mb-4" align="left">
                <div class="content-left mb-4">
                    <div class="accordion" id="accordionArchive">
                        <div class="card ">
                            <div class="card-header" id="heading_01">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_01" aria-expanded="true" aria-controls="collapse_01">
                                        <h4 class="my-0">2020 год<i class="fas fa-chevron-down text-color-journal text-warning mt-1 float-right"></i></h4>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_01" class="collapse show" aria-labelledby="heading_01" data-parent="#accordionArchive">
                                <div class="card-body">
                                    <div class="row row-cols-1 row-cols-md-3">
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="{% static 'images/img_journal_1_2020.jpg' %}" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="/static_root/images/img_journal_2_2020.jpg" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="/static_root/images/img_journal_3_2020.jpg" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="/static_root/images/img_journal_4_2020.jpg" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading_02">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse_02" aria-expanded="false" aria-controls="collapse_02">
                                        <h4 class="my-0">2019 год<i class="fas fa-chevron-down text-color-journal text-warning mt-1 float-right"></i></h4>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_02" class="collapse" aria-labelledby="heading_02" data-parent="#accordionArchive">
                                <div class="card-body">
                                    <div class="row row-cols-1 row-cols-md-3">
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="{% static 'images/img_journal.jpg' %}" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="/static_root/images/img_journal.jpg" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="/static_root/images/img_journal.jpg" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="/static_root/images/img_journal.jpg" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="/static_root/images/img_journal.jpg" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col mb-4">
                                            <div class="card card-overlay text-white text-center border-warning h-100 shadow-sm">
                                                <img src="/static_root/images/img_journal.jpg" class="card-img" alt="journal">
                                                <div class="card-img-overlay">
                                                    <div class="card-overlay-content py-4">
                                                        <h5 class="card-title">1250 руб.</h5>
                                                        <p><a href="#" class="btn btn-warning text-uppercase">Купить</a></p>
                                                        <a href="#" class="btn btn-outline-warning btn-sm" target="_blank">Содержание</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading_03">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse_03" aria-expanded="false" aria-controls="collapse_03">
                                        <h4 class="my-0">2018 год<i class="fas fa-chevron-down text-color-journal text-warning mt-1 float-right"></i></h4>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_03" class="collapse" aria-labelledby="heading_03" data-parent="#accordionArchive">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading_04">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse_04" aria-expanded="false" aria-controls="collapse_04">
                                        <h4 class="my-0">2017 год<i class="fas fa-chevron-down text-color-journal text-warning mt-1 float-right"></i></h4>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_04" class="collapse" aria-labelledby="heading_04" data-parent="#accordionArchive">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="title-line mt-1 mb-4" align="left">
            </div>
            <div class="col-lg-4 col-xl-3">
                {% include 'journal/includes/home-content-right.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}