{% extends 'journal/base.html' %}
{% load static %}
{% block content %}
<div class="content py-5">
    <div class="container">
        <nav class="mb-5" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent border-bottom ">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Корзина</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <h2 class="text-color-journal">Корзина</h2>
                <hr class="title-line mb-4" align="left">
                <div class="content-left mb-4">
                    <div class="empty-basket" style="display: none;">
                        <h4>Ваша корзина пуста.</h4>
                    </div>
                    <form>
                        <div class="alert alert-light shadow text-dark">
                            <h4>Состав заказа</h4>
                            <hr>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="text-secondary">1</span>
                                </div>
                                <div class="col-sm-5">
                                    <h6 class="mb-3 mb-sm-0">Электронная версия журнала "Сварка и диагностика" №4-2020<br><small><a href="#" target="_blank">Содержание</a></small></h6>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon1" disabled=""><i class="fas fa-minus" aria-hidden="true"></i></button>
                                        </div>
                                        <input type="text" class="form-control text-center" value="12">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-2">
                                    <h6 class="mx-auto mb-0">15000 руб.</h6>
                                </div>
                                <div class="col-2 col-sm-1 text-right">
                                    <a href="#" class="text-warning" title="Удалить"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                            <hr>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <span class="text-secondary">2</span>
                                </div>
                                <div class="col-sm-5">
                                    <h6 class="mb-3 mb-sm-0">Электронная версия журнала "Сварка и диагностика" №4-2020<br><small><a href="#" target="_blank">Содержание</a></small></h6>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon1" disabled=""><i class="fas fa-minus" aria-hidden="true"></i></button>
                                        </div>
                                        <input type="text" class="form-control text-center" value="1">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-2">
                                    <h6 class="mx-auto mb-0">1250 руб.</h6>
                                </div>
                                <div class="col-2 col-sm-1 text-right">
                                    <a href="#" class="text-warning" title="Удалить"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                            <hr>
                            <div class="row align-items-center mb-3">
                                <div class="col-6 col-sm-9">
                                    <p class="mb-0">Итого:</p>
                                </div>
                                <div class="col col-sm-3">
                                    <h6 class="text-bold mx-auto mb-0">16250 руб.</h6>
                                </div>
                            </div>
                            <div id="btnGroupCheckout">
                                <button type="button" class="btn btn-warning" id="btnCheckout">Оформить</button>
                                <button type="button" class="btn btn-outline-warning text-dark">Очистить корзину</button>
                            </div>
                            {# FORM_CUSTOMER #}
                            {% include 'journal/includes/form_customer.html' %}
                            {# END FORM_CUSTOMER #}
                            <div id="customerSaved" class="form-saved text-sm" style="display: none;">
                                <hr>
                                <h4>Заказчик<a href="#" id="btnEditCustomer" class="text-warning text-sm ml-3" title="Изменить"><i class="fas fa-pencil-alt"></i></a></h4>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>Полное наименование организации:</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-bold">ООО "Сварка трубопроводов"</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>Юридический адрес:</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-bold">Нижний Новгород, ул. Красного маяка 15, офис 6</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>Фактический адрес:</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-bold">Нижний Новгород, ул. Красного маяка 15, офис 6</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>Почтовый адрес:</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-bold">Нижний Новгород, ул. Красного маяка 15, офис 6</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>ИНН / КПП:</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-bold"><span>4527854599</span> / <span>52214558</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>Контактное лицо, должность:</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-bold"><span>Иванов Иван Иванович</span>, <span>менеджер</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>Телефоны / факс:</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-bold"><span>8(925)325-25-25</span>, <span></span> / <span>8(1258)22-54-87</span></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <p>Email:</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-bold">ivanov@mail.ru</p>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-warning mt-3" id="btnConfirmOrder">Подтвердить заказ</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr class="title-line mt-1 mb-4" align="left">
            </div>
            <div class="col-lg-4 col-xl-3">
                {% include 'journal/includes/home-content-right.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}