{% extends 'journal/base.html' %}
{% load static %}
{% block content %}
<div class="content py-5">
    <div class="container">
        <nav class="mb-5" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent border-bottom ">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Контакты</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <h2 class="text-color-journal">Контакты</h2>
                <hr class="title-line mb-4" align="left">
                <div class="content-left mb-4">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="russian-tab" data-toggle="tab" href="#russian" role="tab" aria-controls="russian" aria-selected="true">На русском</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="english-tab" data-toggle="tab" href="#english" role="tab" aria-controls="english" aria-selected="false">English</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="russian" role="tabpanel" aria-labelledby="russian-tab">
                            <div class="my-4">
                                <h4 class="mb-2">СРО Ассоциация «НАКС»</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Учредитель:</strong> Саморегулируемая организация Ассоциация «Национальное Агентство Контроля Сварки»</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Юридический адрес:</strong> 109341, г. Москва, ул. Братиславсая, д. 6, офис 276</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Фактический адрес:</strong> 109341, г. Москва, ул. Братиславсая, д. 6, офис 276<a href="#" class="ml-4 text-warning" data-toggle="modal" data-target="#mapNaksModal" title="адрес на карте"><i class="fas fa-map-marker-alt fa-lg"></i></a></li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Почтовый адрес:</strong> 109341, г. Москва, ул. Братиславсая, д. 6, офис 276</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Телефон:</strong> +7 (499) 784-77-00</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Факс:</strong> +7 (499) 784-77-11</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>E-mail:</strong> <a href="mailto:sro@naks.ru">sro@naks.ru</a></li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Сайт:</strong> <a href="http://www.naks.ru/" target="_blank">http://www.naks.ru/</a></li>
                                </ul>
                            </div>
                            <div class="my-4">
                                <h4 class="mb-2">ООО «НАКС Медиа»</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Издательство:</strong> Общество с ограниченной ответственностью «НАКС Медиа»</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Юридический адрес:</strong> 109469, Москва, ул. Марьинский парк, дом 23, корпус 3</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Фактический адрес:</strong> 109469, Москва, ул. Марьинский парк, дом 23, корпус 3<a href="#" class="text-warning ml-4" data-toggle="modal" data-target="#mapNaksMediaModal" title="адрес на карте"><i class="fas fa-map-marker-alt fa-lg"></i></a></li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Почтовый адрес:</strong> 109469, Москва, ул. Марьинский парк, дом 23, корпус 3</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Телефон:</strong> +7 (499) 346-03-45</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>E-mail:</strong> <a href="mailto:svarka@naks.ru ">svarka@naks.ru </a></li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Сайт:</strong> <a href="http://naks.ru/naksmedia/" target="_blank">http://naks.ru/naksmedia/</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="english" role="tabpanel" aria-labelledby="english-tab">
                            <div class="my-4">
                                <h4 class="mb-2">SRO Association «NAKS»</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Founder:</strong> Self-regulatory organization Association «National Agency of Welding Control»</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Legal address:</strong> 109341, Moscow, Bratislavskaya str., h. 6, office 276</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Address:</strong> 109341, Moscow, Bratislavskaya str., h. 6, office 276<a href="#" class="text-warning ml-4" data-toggle="modal" data-target="#mapNaksModal" title="address on the map"><i class="fas fa-map-marker-alt fa-lg"></i></a></li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Postal address:</strong> 109341, Moscow, Bratislavskaya str., h. 6, office 276</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Phone:</strong> +7 (499) 784-77-00</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Fax:</strong> +7 (499) 784-77-11</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>E-mail:</strong> <a href="mailto:sro@naks.ru">sro@naks.ru</a></li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Website:</strong> <a href="http://www.naks.ru/" target="_blank">http://www.naks.ru/</a></li>
                                </ul>
                            </div>
                            <div class="my-4">
                                <h4 class="mb-2">NAKS Media, LLC</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Publisher:</strong> NAKS Media, LLC</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Legal address:</strong> 109469, Moscow, Maryinsky Park str., h. 23, building 3</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Address:</strong> 109469, Moscow, Maryinsky Park str., h. 23, building 3<a href="#" class="text-warning ml-4" data-toggle="modal" data-target="#mapNaksMediaModal" title="address on the map"><i class="fas fa-map-marker-alt fa-lg"></i></a></li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Postal address:</strong> 109469, Moscow, Maryinsky Park str., h. 23, building 3</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Phone:</strong> +7 (499) 346-03-45</li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>E-mail:</strong> <a href="mailto:svarka@naks.ru ">svarka@naks.ru </a></li>
                                    <li class="list-group-item list-group-item-light border-warning"><strong>Website:</strong> <a href="http://naks.ru/naksmedia/" target="_blank">http://naks.ru/naksmedia/</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="title-line mt-1 mb-4" align="left">
            </div>
            <div class="col-lg-4 col-xl-3">
                {% include 'journal/includes/home-content-right.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}