{% extends 'journal/base.html' %}
{% load static %}
{% block content %}
<div class="content py-5">
    <div class="container">
        <nav class="mb-5" aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent border-bottom ">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Новость детально</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <h2 class="text-color-journal">{{ post.title }}</h2>
                <hr class="title-line mb-4" align="left">
                <div class="content-left mb-4">
                    <div class="row align-items-stretch">
                        <div class="col-sm-4">
                            {% if post.published_date %}
                            <p class="text-secondary">{{ post.published_date }}</p>
                            {% endif %}
                            <div class="mb-3 mb-md-0">
                                <img src="{{ post.img.url }}" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-sm-8">
                            {{ post.full_text|safe }}
                        </div>
                    </div>
                </div>
                <hr class="title-line mt-1 mb-4" align="left">
                <a href="{% url 'home' %}" class="btn btn-primary mb-5"><i class="fas fa-arrow-left"></i> Назад</a>
            </div>
            <div class="col-lg-4 col-xl-3">
                {% include 'journal/includes/home-content-right.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}